logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

public/Cai_Dat_Tich_Hop_NLS_AI_THCS.exe
public/Tich_Hop_NLS_AI_THCS.zip
public/Tich_Hop_NLS_AI_THCS_Pass_123.zip
public/HD_tich_hop_NLS_AI_Web.mp4
